body{
    font-family: 'Roboto Slab', serif;
    font-size: 15px;
    margin: 0;
    background-color: #184153;
    box-sizing: border-box;
}

nav, footer{
    background-color: #184153;
    height: 10vh;
    padding: 15px;
    color: #FFFFFF;
    font-size: 2em;
}

.navbar .links-container{
    display: table;
    position: absolute;
    top: 0;
    right: 0;
    height: 100px;
    color: white;
    text-decoration: none;
}

.links-container .navbar-link{
    display: table-cell;
    position: relative;
    height: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
    vertical-align: middle;
    color: white;
    font-size: 0.8rem;
    letter-spacing: 0.2rem;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
}

.links-container .navbar-link:hover {
    color: rgb(209,209,209);
}


.links-container .navbar-link:active {
    background-color:white;
    color: #184153;
}

.divider{
    margin-top: 5px;
    height: 2px;
    background-color: #ad4a02;
}

.logo {
    width: auto;
    max-height: 100%;
    max-width: 50%;
}

.wrapper{
    background-image: url("../assets/poutine.jpg");
    background-size: cover;
    background-position: center center;
    padding: 5px 0;
    min-height: 30vh;
}

.contact-form{
    background-color: rgba(255,255,255, 0.9);
    margin: 10px;
    padding: 10px;
}

input, textarea{
    padding: 5px;
    width: 100%;
    max-width: 750px;
    box-sizing: border-box;
    border: 1px #184153 solid;
    margin: auto;
}

.form-group{
    margin-bottom: 10px;
    padding: 5px;
    font-size: 1.25em;
}

h2{
    font-size: 2em;
    padding: 5px;
    border-bottom: 2px #ad4a02 solid
}

.form-instructions{
    font-size: 1em;
    padding-left: 5px;
}

#submit{
    background-color: #184153;
    color: white;
    padding-top: 10px;
}

@media (min-width: 768px) {
    nav, footer {
        height: 15vh;
    }

    .navbar .links-container {
        top: 5vh;
    }

    .links-container .navbar-link {
        padding-left: 2rem;
        padding-right: 2rem;
        font-size: 1rem;
    }
    .contact-form{
        width: 50vw;
        margin: 30px auto;
        padding: 30px;
    }

}

@media screen {
    .screen-reader-only{
        display: none;
    }
}

