/* black #1A1423
    deep red #A30404
    blue highlight #0085A0
    platinum #E3E4DB
    white #FFFFFF
 */

body{
    font-family: 'Roboto Slab', serif;
    font-size: 15px;
    margin: 0;
    background-color: #FFFFFF;
}

nav, footer{
    background-color: #184153;
    height: 15vh;
    padding: 15px;
    color: #FFFFFF;
    font-size: 2em;
}


.navbar .links-container{
    display: table;
    position: absolute;
    top: 5vh;
    right: 0;
    height: 100px;
    color: white;
    text-decoration: none;
}

.links-container .navbar-link{
    display: table-cell;
    position: relative;
    height: 100%;
    padding-left: 2rem;
    padding-right: 2rem;
    vertical-align: middle;
    color: white;
    font-size: 1rem;
    letter-spacing: 0.2rem;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
}

.links-container .navbar-link:hover {
    color: rgb(209,209,209);
}


.links-container .navbar-link:active {
    background-color:white;
    color: rgb(29, 65, 163);
}

.divider{
    margin-top: 5px;
    height: 2px;
    background-color: #184153;
}
.logo {
    width: auto;
    height: 100%;
}

.wrapper{
    background-image: url("../assets/poutine.jpg");
    background-size: cover;
    background-position: center center;
    padding: 5px 0;
}

.contact-form{
    background-color: rgba(255,255,255, 0.9);
    width: 50vw;
    margin: 30px auto;
    padding: 30px;

}

.form-group{
    margin-bottom: 10px;
    padding: 5px;
    font-size: 1.25em;
}

@media (min-width: 1000px) {
    .nav-links{
        float: right;
        list-style: none;
        display: inline-block;
    }

    .nav-links li{
        display: inline-block;
    }
}

@media screen {
    .screen-reader-only{
        display: none;
    }
}

